#
# Sample DevStack local.conf server.
#

[[local|localrc]]

enable_plugin networking-bambuk https://github.com/lionelz/networking-bambuk.git

HOST_IP=192.168.122.151
LOGFILE=$DEST/logs/stack.sh.log

DATABASE_PASSWORD=stack
RABBIT_PASSWORD=stack
SERVICE_PASSWORD=stack
SERVICE_TOKEN=stack
ADMIN_PASSWORD=stack

disable_service n-net
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta
enable_service n-novnc
enable_service n-cauth
disable_service h-eng
disable_service h-api
disable_service h-api-cfn
disable_service h-api-cw
disable_service tempest

[[post-config|/$Q_PLUGIN_CONF_FILE]]
[agent]
dont_fragment = False
l2_population = True
enable_distributed_routing = True
[vxlan]
enable_vxlan = True
local_ip = 192.168.122.151
[ovs]
enable_tunneling = True
local_ip = 192.168.122.151
[ml2]
type_drivers = vxlan, bambuk_vxlan
mechanism_drivers = openvswitch,l2population,bambuk
tenant_network_types = vxlan

[[post-config|$NEUTRON_CONF]]
[DEFAULT]
router_distributed = True
